


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
       <h3 class="display-5"> Register For Your Future !! </h3>
    <form class="text"action="/register" method="POST" autocomplete="off">
        <div class="row">
            <div class="col text">
           
              <input type="text"  name="name" class="login-name form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col text">
              <input type="text" name="lname" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
          </div>
        <!-- <div>
        <label class="text" for="name">name</label>
        <input type="text" id="name" name="name" required>
    </div> -->
    
        <!-- <label class="text"for="email">Email</label> -->
        <select name="Age" class="form-select  col text" aria-label="Default select example">
            <option name="Age" selected>Select Age</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
          </select>
        <div class="col text">
        <input type="email" class=" col form-control text"placeholder="Email" id="email" name="email" required>
    </div>
        <!-- <label class="text form-label"for="password">Password</label> -->
        <div class="col text">
        
        <input type="password"  class="col form-control text"placeholder="Password" id="password inputPassword4" name="password" required>
    </div>
    <button class="btn btn-success  text" type="submit">Register</button>
    
    </form>
    <span> Already Have an account? <a class="text-a badge " href="/login">Login</a></span>
   
</div>
<p class="p-venkat">powered by Venkatesh</p>
</body>
</html>


